<%= form_for @note do |f| %>
  <% if @note.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @note.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.text_field :note_id, :size => "100%" %>
  </p>
  <p>
    <%= f.text_area :note_text, :size => "90x20" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>

<script type="application/javascript">document.getElementById('note_note_id').focus();</script>