<%= link_to t("common.back"), users_show_path(:id=>@user.id) %>
<p>
<%= form_tag(:controller => "users", :action => "change_password_do") do |f| %>
  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
  <%= label_tag(:password, t("user.password")) %>
  <%= password_field_tag(:password) %>
  </p>
  <p>
  <%= label_tag(:repeat, t("user.repeat")) %>
  <%= password_field_tag(:repeat) %>
  </p>
  <%= hidden_field_tag(:id, @user.id) %>
  <%= submit_tag(t("user.change_password")) %>
<% end %>
</p>
