<%= link_to t("common.show"), users_list_path %>
<%= link_to t("user.new_user"), users_new_path %>
<p>
	<%= t("user.show_avail_users")%>
</p>
<table id="sky_table">
	<tr>
		<th align="left">
			<%= t("user.id")%>
		</th>
		<th align="left">
			<%= t("user.user_id")%>
		</th>
		<th align="left">
			<%= t("user.first_name")%>
		</th>
		<th align="left">
			<%= t("user.last_name")%>
		</th>
		<th align="left">
			<%= t("user.email")%>
		</th>
		<th align="left">
			<%= t("user.last_logon")%>
		</th>
		<th align="left">
			<%= t("user.last_logon_ip")%>
		</th>
	</tr>
	<% User.all.each do |user| %>
	<tr>
		<td><%= link_to user.id, users_show_path(:id=>user.id) %></td>		
		<td> <%= user.user_id %> </td>
		<td> <%= user.first_name %> </td>
		<td> <%= user.last_name %> </td>
		<td> <%= user.email %> </td>
		<td> <%= user.last_logon.to_formatted_s(:short) if user.last_logon %> </td>
		<td> <%= user.last_logon_ip %> </td>
		<td><%= link_to image_tag('/assets/icons/edit_table.gif'), users_edit_path(:id=>user.id) %></td>		
		<td>
			<%  unless current_user.user_id == user.user_id %> 
				<%= link_to image_tag('/assets/icons/remove_table.gif'), user, confirm: t("common.delete_confirm"), method: :delete %> 
			<%  end %> 
		</td>
	</tr>
	<% end %>
</table>
