<%= link_to t("household_account.category"), household_account_categories_list_path %>
<%= link_to t("household_account.shop"), household_account_shops_list_path %>
<%= link_to t("household_account.payment"), household_account_payments_list_path %>

<p>
<table id="sky_table">
	<tr>
		<th align="left">Category</th>
		<% HouseholdAccountSummary.get_month_history.each do |date| %>	
			<th align="left"><%= date.strftime("%b %y") %></th>
		<% end %>
	</tr>

	<% HouseholdAccountSummary.get_categories.each do |category| %>
	<tr>
		<td>
			<%= category.category_id %>
		</td>
		<% HouseholdAccountSummary.get_month_history.each do |date| %>	
		<td>
			<%= HouseholdAccountSummary.get_summary(date, category) %>
		</td>
		<% end %>
	</tr>
	<% end %>
	<tr>
		<td>
			Summary
		</td>
		<% HouseholdAccountSummary.get_month_history.each do |date| %>	
		<td>
			<%= HouseholdAccountSummary.get_summary_for_month(date) %>
		</td>
		<% end %>	
	</tr>
</table>
</p>