<%= link_to image_tag('/assets/icons/back.png', :title => t("common.back")), household_account_list_path %>
<%= link_to image_tag('/assets/icons/new.png', :title => t("common.new")), household_account_payments_new_path %>
<p>
	Von: <%= @selection_from.strftime("%d.%b.%y") %>
<p>	
	Bis: <%= @selection_to.strftime("%d.%b.%y") %>
<p>
<table id="sky_table">
	<tr>
		<th align="left">
			Id
		</th>
		<th align="left">
			Text
		</th>
		<th align="left">
			Kategorie
		</th>
		<th align="left">
			Geschäft
		</th>			
		<th align="left">
			Summe
		</th>		
		<th align="left">
			Date
		</th>				
		<th align="left">
			Erstellt
		</th>		
	</tr>
	<% @household_account_payments.each do |payment| %>
	<tr>
		<td><%= link_to payment.id, household_account_payments_show_path(:id=>payment.id) %></td>		
		<td width="100%"> <%= payment.payment_text %> </td>
		<td > <%= payment.household_account_category.category_id %> </td>
		<td > <%= payment.household_account_shop.shop_id %> </td>
		<td > <%= payment.sum %> </td>
		<td > <%= payment.payment_date.strftime("%d.%b.%y") %> </td>
		<td > <%= payment.user.user_id %> </td>
		<td><%= link_to image_tag('/assets/icons/edit_table.gif'), household_account_payments_edit_path(:id=>payment.id) %></td>		
		<td><%= link_to image_tag('/assets/icons/remove_table.gif'), payment, confirm: t("common.delete_confirm"), method: :delete %> </td>				
	</tr>
	<% end %>
</table>
</p>