<%= link_to t("common.back"), household_account_payments_list_path %>
<%= link_to t("common.edit"), household_account_payments_edit_path(:id=>@household_account_payment.id) %>
<p>
	<h2><%= @household_account_payment.payment_text %></h2>
</p>
<p>
<%= @household_account_payment.household_account_category.category_id %>
</p>
<p>
<%= @household_account_payment.sum %>
</p>
<p>
<%= @household_account_payment.payment_date %>
</p>
