<%= form_for @household_account_category do |f| %>
  <% if @household_account_category.errors.any? %>
    <div class="error_messages">
      <ul>
        <% for message in @household_account_category.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :category_id, t("household_account_category.name") %>
    <%= f.text_field :category_id, :size => 100 %>
  </p>
  <p>
    <%= f.label :category_id, t("household_account_category.description") %>
    <%= f.text_area :category_text, :size => "90x20" %>
  </p>
  <p class="button"><%= f.submit %></p>
<% end %>