<!DOCTYPE html>
<html>
	<head>
		<title><%= t("common.skyfall")%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="baseFrame">
			<h1>Skyfall</h1>
			<% if current_user %>
			<hr />
			<table width="100%">
				<tr>
					<td>
					<div id="application_nav" align="left">
						<%= link_to t("menu.home"), root_path %>,
						<%= link_to t("menu.users"), users_show_path %>
					</div></td>
					<td>
					<div id="user_nav" align="right">

						<%= link_to "Log out", log_out_path %>
					</div></td>
				</tr>
			</table>
			<% end %>
			
			<hr />
			<% flash.each do |name, msg| %>
			<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>

			<%= yield %>
			<hr />
			
			<table width="100%">
				<tr>
					<td><% if current_user %>Logged in as <%= current_user.user_id %>.<% end %></td>
					<td align="right">Version 1.0 | Rendered in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds</td>
				</tr>
			</table>

		</div>
	</body>
</html>