<!DOCTYPE html>
<html>
	<head>
		<title><%= t("common.skyfall")%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="baseFrame">
			<table width="100%" >
				<tr>
					<td colspan="2"><h1>Skyfall</h1></td>
				</tr>
				<tr>
					<td width="160px" style="vertical-align: top;"> 
					<div align="top">
						<% if current_user %>
						<h3>Home</h3>
						<div>
							<p>
								<li>
									<%= link_to t("menu.home"), root_path %>
								</li>
								<li>
									<%= link_to "Log out", log_out_path %>
								</li>
							</p>
						</div>
						<h3><%= t("menu.users") %></h3>
						<div>
							<p>
								<li>
									<%= link_to "Übersicht", users_show_path %>
								</li>
								<li>
									<%= link_to "Neuer Benutzer", users_new_path %>
								</li>
							</p>
						<% end %>
						</div>
					</td>
					<td > <% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
					<% end %>
					<%= yield %> </td>
				</tr>
				<tr>
					<td colspan="2">
					<table width="100%">
						<tr>
							<td><% if current_user %>Logged in as <%= current_user.user_id %>.<% end %></td>
							<td align="right">Version 1.0 | Rendered in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds</td>
						</tr>
					</table></td>
				</tr>
			</table>
		</div>
	</body>
</html>