<!DOCTYPE html>
<html>
	<head>
		<title><%= t("common.skyfall")%></title>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application", "highcharts" %>
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="baseFrame" >
			<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
					<td background="/assets/sky-banner.jpg" width="800px" height="169px"></td>
				</tr>
				<% if current_user %>
				<tr>
					<td class="topNav">
						<b>
						<%= link_to t("menu.home"), root_path, :class => 'topNav' %>
						| <%= link_to t("menu.note"), notes_list_path, :class => 'topNav' %>
						| <%= link_to t("menu.household_account"), household_account_list_path, :class => 'topNav' %>
						| <%= link_to t("menu.settings"), settings_list_path, :class => 'topNav' %>
						</b>
					</td>
				</tr>
				<% end %>
				<% unless flash.empty? %>
				<tr>
					<td class="flash"> <% flash.each do |name, msg| %>
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
					<% end %>
				</tr>
				<% end %>
				<tr>
					<td class="content"><%= yield %></td>
				</tr>
				<tr>
					<td>
					<table width="100%">
						<tr>
							<td><% if current_user %> <%=t("home.logged_in_as")%> <%=current_user.user_id %> | <%= link_to t("home.logout"), log_out_path %><% end %></td>
							<td align="right" class="footerSmall">Version 1.0 | Rendered in <%= sprintf('%.3f', (Time.now.usec - @start_time).abs / 1000000.0) %> seconds</td>
						</tr>
					</table></td>
				</tr>
			</table>
		</div>
	</body>
</html>